<section class="home-section">
  <div class="overlay"></div>

  <div class="content text-center">
    <h1 class="title">🦇 BATI JUEGOS</h1>
    <p class="subtitle">Tu experiencia gamer comienza aquí</p>

    <div class="button-container">
      <button (click)="navigateTo('/login')" class="custom-btn"> Iniciar sesión</button>
      <button (click)="navigateTo('/registro')" class="custom-btn"> Registrarse</button>
      <button (click)="navigateTo('/registro-empresa')" class="custom-btn"> Registrar Empresa</button>
    </div>
  </div>
</section>
